root = true

[*.{kt,kts}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 120
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktlint_code_style = ktlint_official
ktlint_function_naming_ignore_when_annotated_with = Composable

[app/src/main/java/com/arrazyfathan/kbbi/presentation/customviews/CollapsibleApp*.kt]
ktlint_standard_filename = disabled
