<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kbbikamusbesarbahasaindonesia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_new_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_new_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KBBIKamusBesarBahasaIndonesia">
        <activity
            android:name=".ui.detail.DetailActivity"
            android:theme="@style/Detail.Theme"
            android:exported="false" />
        <activity
            android:name=".ui.home.MainActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>